 

body {
  background-image:url('https://res.cloudinary.com/dogjmmett/image/upload/v1661849341/template2_ynlxet.png');
  /* padding: 5vmin; */
  /* box-sizing: border-box; */
  display: grid;
  place-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: min(200%, 5vmin);
}

nav {
  background-color:darkslateblue;
  height: 80px;
  font-size: 300px;
  font-weight: 300px;
  color: white;
  /* bottom: 3%; */
}

h1 {
  font-size: 10vmin;
  line-height: 1.1;
  max-inline-size: 15ch;
  margin: auto;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
  margin-top: 1ch;
  line-height: 1.35;
  max-inline-size: 40ch;
  margin: auto;
}

html {
  block-size: 100%;
  inline-size: 100%;
  text-align: center;
}
.webcamVideo {
  width: 30vw;
  height: 20vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

video:hover{
  background: '#FFF';
  cursor: pointer;
}