html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(110deg, #017baa 0%, #017baa 0%, #2d4f37 100%, #2d4f37 100%);
  border-top: 1px solid transparent;
  background-clip: content-box;
  color: #ffff;
  text-align: center;
  object-fit: cover;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

nav {
  /* background-color: darkslateblue; */
  height: 70px;
  /* font-size: 100px; */
  /* font-weight: 300px; */
  color: black;
  display: flex;
  align-items: center;
  /* bottom: 3%; */
}

h1 {
  font-size: 7vmin;
  line-height: 1.1;
  max-inline-size: 15ch;
  margin: auto;
}

p {
  margin-top: 1ch;
  line-height: 1.35;
  max-inline-size: 40ch;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  color: black;
  block-size: 100%;
  inline-size: 100%;
  text-align: center;
}
.webcamVideo {
  width: 30vw;
  height: 20vw;
  margin: 2rem;
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}

video:hover {
  background: '#FFF';
  cursor: pointer;
}
 